@{ 

}

<ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-toggle="dropdown">
            Bootstrap 4 練習場
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="@Url.Content(@"~\BS4\Typography")">Text/Typography</a>
            <a class="dropdown-item" href="@Url.Content(@"~\BS4\Buttons")">Buttons & Button Groups</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-toggle="dropdown">
            React Lab
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="@Url.Content(@"~\Area\Controller\Action\id")">Hello</a>
            <a class="dropdown-item" href="@Url.Content(@"~\ReactLab\Hello\Default")">Hello</a>
            <a class="dropdown-item" href="@Url.Content(@"~\ReactLab\Demo")">Demo</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-toggle="dropdown">
            查詢作業４支
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">查詢作業１</a>
            <a class="dropdown-item" href="#">查詢作業２</a>
            <a class="dropdown-item" href="#">查詢作業３</a>
            <a class="dropdown-item" href="#">查詢作業４</a>
        </div>
    </li>
</ul>
